* {
  text-align: center;
  margin: 3px;
  font-family: "Ubuntu", sans-serif;
}
nav {
  padding: 10px;
  display: inline-block;
  width: 100px;
  font-weight: 400;
  text-align: center;
  text-decoration: none;
  padding: 20px 0;
  word-spacing: 2px;
}
nav ul {
  padding: 0px;
}
nav li {
  display: inline;
  margin: 20px;
  padding: 10px;
}
nav a:link, a:visited {
  background-color: white;
  color: rgb(75, 75, 75);
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-style: solid;
  border-color: white;
}
nav a:hover, a:active {
  color: #96d1ea;
}
.menu {
  width: 100%;
}
h1 {
  text-align: center;
  margin: 10px;
}
.tag {
  padding: 10px;
}
.button {
  background-color: white;
  color: black;
  border: 2px solid lightgrey; 
  padding: 10px;
  border-radius: 8px;
}

.column {
  float: left;
  margin-top: 0px;
  width: 28%;
  padding: 15px;
  border: 1px solid lightslategray; 
  border-radius: 5px;
  margin: 10px;
}
.cards {
  padding: 10px;
}
.App {
  text-align: center;
  font-family: "Ubuntu", sans-serif;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
